@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&display=swap');

.body{
  font-family: 'Lato', sans-serif;
}
.gradient {
  background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  animation: move 1s infinite;
  font-family: 'Pacifico', cursive;
  font-size: 10vmin;
  margin: 10px;
}

@keyframes move {
  50% {
    background-image: linear-gradient(262deg, rgba(94,114,235,1) 0%, rgba(255,145,144,1) 56%, rgba(254,193,149,1) 100%);
  }
}

section{
    position: relative;
    padding: 6em;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: black;
    text-align: center;
    margin-bottom: 100px;
  }
  @media(min-width: 500px){
    section{
      position: relative;
      padding: 10em;
      background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); 
      color: black;
      text-align: center;
      margin-bottom: 100px;
    }
  }

  section h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 400;
    font-family: 'Alegreya Sans', sans-serif;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
  }
  /* Common style for pseudo-elements */
  section::before,
  section::after {
    position: absolute;
    content: "";
    pointer-events: none;
  }
/* ---- put this in react file ---- */
/*<button className="button"><Link to="/about" className='text-link'>About</Link></button>
 */
/* FOR THE LINETHROUGH */
span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  }
  .section-head {
  margin-bottom: 60px;
  }
  .section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
  }
  .section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
  }
  .section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
  }

  // for the main banner
  .banner-main-img > img {
    display: flex;
    padding-left: 10vh;
    margin-left: auto;
    margin-right: auto;

  }
  .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 767px) {
  .main-banner-area {
    .banner-text {
        text-align: center;
        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            margin-bottom: 25px;
        }
        .banner-btn {
            .default-btn {
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }

    .container-fluid {
        max-width: 540px;
    }
    &.main-banner-area-one {
        .banner-text {
            max-width: unset;
            margin-left: unset;
            top: 0;
        }
    }
  }
}