

/************************
Nav Bar 
*************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* Nav Screen */

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}
.nav-screen {
  height: 100%;
  z-index: 500;
  position: fixed;
  background-color: #000;
  opacity: 1;
  right: -285px; /* start off behind the scenes */
  -webkit-font-smoothing: antialiased;
  width: 285px;
}

.nav-screen .active {
  display: block;
}

/* nav header links */

.nav-brand {
  position: fixed;
  left: 0;
  z-index: 600;
  padding: 10px;
}

.nav-brand img {
  width: 10vw;
}

.fa-bars {
  display: none !important;
  color: #ff6363;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 500;
  cursor: pointer;
}

.fa-times {
  color: #ff6363;
  float: right;
  padding: 20px;
  right: 0;
  z-index: 600;
  cursor: pointer;
}
.header-links {
  /* position: fixed; */
  width: 100%;
  /* z-index: 500; */
}

.header-links li {
  display: inline;
  float: right;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
// .header-links a {
//   color: var(--bg-gradient);
//   background-image: linear-gradient(to right, #80D0C7, #097b6e);
//   background-repeat: no-repeat;
//   background-size: 0% 100%;
//   background-position-x: right;
//   transition: background-size 500ms; 
// }

.header-links > ul > li > a, li > button > a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  // background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  // background-clip: text;
  // -webkit-background-clip: text;
  // color: transparent;
}
.header-links a:hover, li > button>a:hover{
  color: var(--bg-gradient);
  background-size: 100% 100%; 
  background-position-x: left;
}
.button-log {
  color: grey;
  background-size: 100% 100%; 
  background-position-x: left;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


// .button-log {
//   width: 5vw;
//   color: white;
//   font-size: 15px;
//   border: none;
//   border-radius: 5px;
//   background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
//   cursor: pointer;
//   padding: 13px 20px;
// }
