// MODAL 
.modal-body {
    position        : absolute;
    top             : 75%;
    left            : 50%;
    transform       : translate(-50%, 0%);
    background-color: white;
    padding         : auto;
    width           : 30rem;
    border-radius   : 0.5rem;
    color: var(--dark-color);
    background: var(--bg-gradient);
    opacity: .90;
}
.modal-header { 
    width: 100%;
}
.button-modal {
    width: 10vw;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    cursor: pointer;
    // padding: 13px 20px;
}

.btn-danger {
    // width: 10vw;
    color: white;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    // padding: 13px 20px;
}

.confirm-modal {
    // position        : absolute;
    // // top             : 75%;
    // // left            : 50%;
    // // transform       : translate(-50%, 0%);
    background-color: white;
    // padding         : auto;
    // width           : 30rem;
    border-radius   : 0.5rem;
    color: var(--dark-color);
    background: var(--bg-gradient);
    opacity: .90;
}